
mat-header-cell {
  display:flex;
  justify-content:center;
 }

 mat-cell {
  display:flex;
  justify-content:center;
 }
 
/* Structure */
table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }
  