<div class="container">
  <div class="col-lg-12">
    <div class="pb-2 mt-4 mb-2 ">
      <h2 class="text-center" style="margin-top: 5px; margin-bottom: 5px;">
        {{title}}
      </h2>
    </div>


    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>
  </div>

  <div class="col-md-12" style="margin-bottom: 10px">

    <table mat-table class="table" [dataSource]="dataSource" matSort matSortActive="nome" matSortDirection="asc">

      <ng-container matColumnDef="nome" class="md-2">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
        <mat-cell *matCellDef="let colegio">{{colegio.nome}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="endereco">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Endereço</mat-header-cell>
        <mat-cell *matCellDef="let colegio">{{colegio.endereco}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="numero">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Número</mat-header-cell>
        <mat-cell *matCellDef="let colegio">{{colegio.numero}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="telefone">
        <mat-header-cell *matHeaderCellDef>Telefone</mat-header-cell>
        <mat-cell *matCellDef="let colegio">{{colegio.telefone}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="opcoes">
        <mat-header-cell *matHeaderCellDef>Opções</mat-header-cell>
        <mat-cell *matCellDef="let colegio">
          <ul class="list-inline">
            <li class="list-inline-item">
              <button type="button" class="btn btn-link" (click)="openModal(template)">
                <img src="svg/magnifying-glass.svg" width="20" height="20" alt="" data-toggle="tooltip" data-placement="top" title="Visualizar colegio {{colegio.nome}}">
              </button>
            </li>

            <!-- MODAL -->
            <ng-template #template>
              <div class="modal-header">
                <h4 class="modal-title pull-left">{{colegio.nome}}</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <span style="margin-top: 5px; margin-bottom: 5px; font-size: 0.852em; background-color: whitesmoke; border-radius: 8px">
                  <strong>Data registro: {{colegio.registro}}</strong>
                </span>
                <br>
                <span style="margin-top: 5px; margin-bottom: 5px; font-size: 0.852em; background-color: whitesmoke; border-radius: 8px">
                  {{colegio.rede}}
                </span>
                <br>
                <strong>Endereço: </strong> {{colegio.endereco}}
                <br>
                <strong>Número: </strong> {{colegio.numero}}
                <br>
                <strong>Telefone: </strong> {{colegio.telefone}}
                <br>
                <strong>Website: </strong>{{colegio.website}}
              </div>
            </ng-template>
            <!-- FIM MODAL -->
            <li class="list-inline-item">
              <a routerLink="/editar/colegio/{{colegio.id}}">
                <img src="svg/pencil.svg" width="20" height="20" alt="" data-toggle="tooltip" data-placement="top" title="Editar colegio {{colegio.nome}}">
              </a>
            </li>

            <li class="list-inline-item">
              <button type="button" class="btn btn-link" (click)="openModal(removercolegio)">
                <img src="svg/trash.svg" width="20" height="20" alt="" data-toggle="tooltip" data-placement="top" title="Remover colegio {{colegio.nome}}">
              </button>

            </li>
            <!-- MODAL -->
            <ng-template #removercolegio>
              <div class="modal-header">
                <h4 class="modal-title pull-left">Deseja remover o colégio:
                  <br>{{colegio.nome}}</h4>

                <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <span style="margin-top: 5px; margin-bottom: 5px; font-size: 0.852em; background-color: whitesmoke; border-radius: 8px">
                  <strong>Data registro: {{colegio.registro}}</strong>
                </span>
                <br>
                <span>Para poder remover o colégio não se deve ter alunos vinculados a ele.</span>
                <br>
                <br>
                <br>
                <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Voltar</button>

                <button type="button" class="btn btn-danger float-right" (click)="deleteColegio(colegio.id);  modalRef.hide()">Confirmar</button>
              </div>

            </ng-template>
            <!-- FIM MODAL -->

          </ul>

        </mat-cell>

      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>

      <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>

    </table>

    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
      [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
    </mat-paginator>
  </div>

</div>