<div class="container">

  <div class="col-md-12">

    <h2 class="text-center" style="margin-top: 5px; margin-bottom: 5px;">
      {{title}}
    </h2>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>

  </div>

  <div class="col-md-12" style="margin-bottom: 10px">

    <table mat-table class="table" [dataSource]="dataSource" matSort matSortActive="aluno" matSortDirection="asc">
      <ng-container matColumnDef="veiculo" class="md-2">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Veículo</mat-header-cell>
        <mat-cell *matCellDef="let mensalidade">{{mensalidade.aluno.veiculo.numero}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="aluno" class="md-2">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Aluno</mat-header-cell>
        <mat-cell *matCellDef="let mensalidade">{{mensalidade.aluno.nome}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="emissao">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Emissao</mat-header-cell>
        <mat-cell *matCellDef="let mensalidade">{{mensalidade.emissao}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let mensalidade">{{mensalidade.status}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="vencimento">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Vencimento</mat-header-cell>
        <mat-cell *matCellDef="let mensalidade">{{mensalidade.vencimento}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="visualizar">
        <mat-header-cell *matHeaderCellDef>Visualizar</mat-header-cell>
        <mat-cell *matCellDef="let mensalidade">
          <ul class="list-inline">
            <li class="list-inline-item">
              <button type="button" class="btn btn-link" (click)="openModal(consultaMensalidade)">
                <img src="svg/magnifying-glass.svg" width="20" height="20" alt="" data-toggle="tooltip" data-placement="top" title="Visualizar mensalidade {{mensalidade.aluno.nome}}">
              </button>

              <!-- MODAL -->
              <ng-template #consultaMensalidade>
                <div class="modal-header">
                  <h4 class="modal-title text-center">{{mensalidade.aluno.nome}}</h4>

                  <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                    <span aria-hidden="true">&times;</span>
                  </button>

                </div>

                <div class="modal-body">
                  STATUS PAGAMENTO:
                  <div *ngIf='mensalidade.status == "QUITADO"; then statusPago else statusPendente'></div>
                  <ng-template #statusPago>
                    <span class="status-pagamento-pago">
                      <strong>{{mensalidade.status}}</strong>
                    </span>
                  </ng-template>
                  <ng-template #statusPendente>
                    <span class="status-pagamento-pendente">
                      <strong>{{mensalidade.status}}</strong>
                    </span>
                  </ng-template>

                  <hr>
                  <strong>Colégio: {{mensalidade.aluno.colegio.nome}}</strong>
                  <br>
                  <strong>Veículo: {{mensalidade.aluno.veiculo.numero}}</strong>
                  <br>
                  <hr>
                  <strong>Referência</strong>
                  <br> Pai: {{mensalidade.aluno.pai}}
                  <br> Mãe: {{mensalidade.aluno.mae}}
                  <br>
                  <br>
                  <strong>Data</strong>
                  <br> Emissão: {{mensalidade.emissao}}
                  <br> Vencimento: {{mensalidade.vencimento}}
                  <br> Pagamento:
                  <div *ngIf='mensalidade.status == "PENDENTE"; then pagamentoPendente'></div>
                  <div *ngIf='mensalidade.status == "CANCELADO"; then pagamentoCancelado'></div>
                  <div *ngIf='mensalidade.status == "QUITADO"; then pagamentoQuitado'></div>
                  <ng-template #pagamentoQuitado>{{mensalidade.pagamento}}</ng-template>
                  <ng-template #pagamentoPendente>{{aguardandoPagamento}}</ng-template>
                  <ng-template #pagamentoCancelado>CANCELADO</ng-template>
                  <br>
                  <br>
                  <strong>Cancelamento</strong>
                  <br> Data: {{mensalidade.cancelamento}}
                  <br>
                  <br>
                  <strong>Valor</strong>
                  <br> {{mensalidade.valor | currency:'R$: '}}
                </div>
              </ng-template>
              <!-- FIM MODAL -->

            </li>
          </ul>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="opcoes">
        <mat-header-cell *matHeaderCellDef>Opcões</mat-header-cell>
        <mat-cell *matCellDef="let mensalidade">
          <div class="btn-group" role="group" aria-label="Basic example">

            <div *ngIf="mensalidade.pagamento || mensalidade.cancelamento; then mensalidadeQuitada  else mensalidadePendente"></div>
            
            <ng-template #mensalidadeQuitada>
              <button type="button" class="btn btn-success btn-sm" disabled (click)="openModal(confirmarPagamento)">Confirmar</button>
              <button type="button" class="btn btn-danger btn-sm" disabled (click)="openModal(cancelarPagamento)">Cancelar</button>
            </ng-template>

            <ng-template #mensalidadePendente>
              <button type="button" class="btn btn-success btn-sm" (click)="openModal(confirmarPagamento)">Confirmar</button>
              <button type="button" class="btn btn-danger btn-sm" (click)="openModal(cancelarPagamento)">Cancelar</button>
            </ng-template>

          </div>

          <!-- MODAL -->
          <ng-template #confirmarPagamento>
            <div class="modal-header">
              <h4 class="modal-title pull-left">CONFIRMAR PAGAMENTO ?</h4>

              <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <span style="margin-top: 5px; margin-bottom: 5px; font-size: 1.000em;">
                <strong>Aluno: {{mensalidade.aluno.nome}}</strong>
              </span>
              <br>
              <span style="margin-top: 5px; margin-bottom: 5px; font-size: 1.000em;">
                <strong>Data Emissão Mensalidade:
                  <br> {{mensalidade.emissao}}</strong>
              </span>
              <br>
              <br>
              <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Voltar</button>

              <button type="button" class="btn btn-success float-right" (click)="updateMensalidadePaga(mensalidade.id); modalRef.hide()">Confirmar</button>
            </div>

          </ng-template>
          <!-- FIM MODAL -->

          <!-- MODAL -->
          <ng-template #cancelarPagamento>
            <div class="modal-header">
              <h4 class="modal-title pull-left">CANCELAR PAGAMENTO ?</h4>

              <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <span style="margin-top: 5px; margin-bottom: 5px; font-size: 1.000em;">
                <strong>Aluno: {{mensalidade.aluno.nome}}</strong>
              </span>
              <br>
              <span style="margin-top: 5px; margin-bottom: 5px; font-size: 1.000em;">
                <strong>Data emissão: {{mensalidade.emissao}}</strong>
              </span>
              <br>
              <br>
              <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Voltar</button>

              <button type="button" class="btn btn-danger float-right" (click)="updateMensalidadeCancelada(mensalidade.id); modalRef.hide()">Confirmar</button>
            </div>

          </ng-template>
          <!-- FIM MODAL -->

        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>

      <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>

    </table>

    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
      [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
    </mat-paginator>
  </div>

</div>