<div class="container">

  <div class="col-lg-12" style="margin-top: 15px; margin-bottom: 15px">

    <button class="btn btn-primary btn-md btn-block" (click)="captureScreen()">EXPORTAR PARA PDF</button>
  </div>

  <div id="content" #content>

    <div id="contentToConvert" class="invoice-box table-responsive col-md-12" style="margin-top: 20px;" style="background-color: white;">
      <!-- CABEÇALHO RELATÓRIO-->
      <table>
        <tr>
          <td class="title">
            <img src="svg/logo.png" class="img-fluid mx-auto d-block" alt="Responsive image" style="border: 2px solid gray; float: left;">
          </td>
          <td>
            <h5>
              <strong>{{cabecalho}}</strong>
            </h5>
            <br>
            <strong>{{nome_fantasia}}</strong>
            <br>
            <strong>{{today}}</strong>

          </td>
        </tr>
      </table>
      <hr>
      <!-- FIM CABEÇALHO RELATÓRIO-->

      <!-- CONTEUDO -->
      <table class="table table-sm table-striped">
        <thead>
          <tr>
            <th class="text-left">Aluno</th>
            <th class="text-center">Status</th>
            <th class="text-center">Emissão</th>
            <th class="text-center">Vencimento</th>
            <th class="text-center">Pagamento</th>
            <th class="text-center">Valor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let men of mensalidades">
            <td align="left">{{men.aluno.nome}}</td>
            <td align="center">{{men.status}}</td>
            <td align="center">{{men.emissao}}</td>
            <td align="center">{{men.vencimento}}</td>
            <td align="center">{{men.pagamento}}</td>
            <td align="center">R$: {{men.valor}}</td>

          </tr>
        </tbody>
      </table>
      <!-- FIM CONTEUDO -->

    </div>
  </div>

</div>