<div class="container">

  <div class="col-md-12">
    <div class="pb-2 mt-4 mb-2 ">
      <h2 class="text-center" style="margin-top: 5px; margin-bottom: 5px;">
        {{title}}
      </h2>
    </div>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>

  </div>

  <div class="col-md-12" style="margin-bottom: 10px">

    <table mat-table class="table" [dataSource]="dataSource" matSort matSortActive="nome" matSortDirection="asc">

      <ng-container matColumnDef="nome" class="md-2">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
        <mat-cell class="mat-cell-aluno" *matCellDef="let aluno">{{aluno.nome}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="veiculo" class="md-2">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Veículo</mat-header-cell>
        <mat-cell *matCellDef="let aluno">{{aluno.veiculo.numero}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="valor">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Valor</mat-header-cell>
        <mat-cell *matCellDef="let aluno">{{aluno.valor | currency:'R$: '}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="vencimento">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Vencimento</mat-header-cell>
        <mat-cell *matCellDef="let aluno">{{aluno.vencimentoMensalidade}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>status</mat-header-cell>
        <mat-cell *matCellDef="let aluno">{{aluno.status}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="outros">
        <mat-header-cell *matHeaderCellDef>Opções</mat-header-cell>
        <mat-cell *matCellDef="let aluno">
          <ul class="list-inline">
            <li class="list-inline-item">
              <button type="button" class="btn btn-link" (click)="onSelect(aluno) ;openModal(template)">
                <img src="svg/magnifying-glass.svg" width="20" height="20" alt="" data-toggle="tooltip" data-placement="top" title="Visualizar aluno {{aluno.nome}}">
              </button>
            </li>

            <!-- MODAL -->
            <ng-template #template>
              <div class="modal-header">
                <h4 class="modal-title pull-left">{{aluno.nome}}</h4>
                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>

              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">
                    <span style="margin-top: 5px; margin-bottom: 5px; font-size: 0.852em; background-color: whitesmoke; border-radius: 8px">
                      <strong>Data registro: {{aluno.registro}}</strong>
                    </span>
                    <br>
                    <span style="margin-top: 5px; margin-bottom: 5px; font-size: 0.852em; background-color: whitesmoke; border-radius: 8px">
                      {{aluno.status}}
                    </span>
                    <br>
                    <span style="margin-top: 5px; margin-bottom: 5px; font-size: 0.852em; background-color: whitesmoke; border-radius: 8px">
                      {{aluno.periodo}}
                    </span>
                    <br>
                    <hr>
                    <strong>Colégio: {{aluno.colegio.nome}}</strong>
                    <br>
                    <strong>Veículo: {{aluno.veiculo.numero}}</strong>
                    <br>
                    <hr>
                    <strong>Celular aluno: </strong>
                    <br>{{aluno.celular}}
                    <br>
                    <strong>Nome pai: </strong>
                    <br> {{aluno.pai}}
                    <br>
                    <strong>Nome mãe: </strong>
                    <br> {{aluno.mae}}
                    <br>
                    <strong>Valor mesalidade: </strong>
                    <br> {{aluno.valor | currency:'R$: '}}
                    <br>
                    <strong>Data vencimento: </strong>
                    <br> {{aluno.vencimentoMensalidade}}

                  </div>
                  <div class="col-md-6">
                    <strong>
                      <font size="4">Contatos</font>
                    </strong>
                    <br>
                    <div *ngIf='!selectedAluno.contatos.length; then showContatosDefault'></div>
                    <ng-template #showContatosDefault> Não possui contatos</ng-template>
                    <br>
                    <div *ngFor="let c of selectedAluno.contatos">

                      <strong>Referência: </strong> {{c.referencia}}
                      <br>
                      <strong>Comercial: </strong> {{c.comercial}}
                      <br>
                      <strong>Residencial: </strong> {{c.residencial}}
                      <br>
                      <strong>Celular: </strong> {{c.celular}}
                      <br>
                      <hr>
                    </div>

                    <strong>
                      <font size="4">Endereços</font>
                    </strong>
                    <br>
                    <div *ngIf='!selectedAluno.enderecos.length; then showEnderecosDefault'></div>
                    <ng-template #showEnderecosDefault> Não possui endereços</ng-template>
                    <br>
                    <div *ngFor="let e of selectedAluno.enderecos">

                      <strong>Endereço: </strong>
                      <br> {{e.endereco}}
                      <br>
                      <strong>Número: </strong> {{e.numero}}
                      <br>
                      <strong>Bairro: </strong>
                      {{e.bairro}}
                      <br>
                      <strong>Complemento: </strong>
                      {{e.complemento}}
                      <br>
                      <hr>
                    </div>

                  </div>
                </div>
                <hr>
                <strong>Recado: </strong> {{aluno.recado}}
              </div>

            </ng-template>
            <!-- FIM MODAL -->
            <li class="list-inline-item">
              <a routerLink="/editar/aluno/{{aluno.id}}">
                <img src="svg/pencil.svg" width="20" height="20" alt="" data-toggle="tooltip" data-placement="top" title="Editar aluno {{aluno.nome}}">
              </a>
            </li>

            <li class="list-inline-item">
              <button type="button" class="btn btn-link" (click)="openModal(deletaraluno)">
                <img src="svg/trash.svg" width="20" height="20" alt="" data-toggle="tooltip" data-placement="top" title="Remover aluno {{aluno.nome}}">
              </button>

            </li>
            <!-- MODAL -->
            <ng-template #deletaraluno>
              <div class="modal-header">
                <h4 class="modal-title pull-left">Deseja deletar o Aluno:
                  <br> {{aluno.nome}}</h4>

                <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <span style="margin-top: 5px; margin-bottom: 5px; font-size: 0.852em; background-color: whitesmoke; border-radius: 8px">
                  <strong>Data registro: {{aluno.registro}}</strong>
                </span>
                <br>
                <br>
                <br>
                <br>
                <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Voltar</button>
                <a (click)="delete(aluno)">

                </a>
                <button type="button" class="btn btn-danger float-right">Confirmar</button>
              </div>

            </ng-template>
            <!-- FIM MODAL -->
          </ul>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="rematricula">
        <mat-header-cell *matHeaderCellDef>Rematricula</mat-header-cell>
        <mat-cell *matCellDef="let aluno">

          <button type="button" *ngIf="aluno.status == 'INATIVO'" class="btn" data-toggle="modal" data-target="#rematricularAluno"
            (click)="openModal(rematricularAluno)">
            <img src="svg/ticket.svg" width="20" height="20" alt="">
          </button>

          <!-- MODAL -->
          <ng-template #rematricularAluno>
            <div class="modal-header">
              <h4 class="modal-title pull-left">Deseja rematricular o Aluno:
                <br> {{aluno.nome}}</h4>

              <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <span style="margin-top: 5px; margin-bottom: 5px; font-size: 0.852em; background-color: whitesmoke; border-radius: 8px">
                <strong>Data registro: {{aluno.registro}}</strong>
              </span>
              <br>
              <br>
              <br>
              <br>
              <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Voltar</button>

              <button type="button" class="btn btn-success float-right" (click)="getAlunoRematricula(aluno, aluno.vencimentoMensalidade); modalRef.hide()">Confirmar</button>
            </div>

          </ng-template>
          <!-- FIM MODAL -->
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>

      <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>

    </table>

    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
      [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
    </mat-paginator>
  </div>

</div>