<div class="container">

  <div class="col-md-12">

    <h2 class="text-center" style="margin-top: 5px; margin-bottom: 5px;">
      Frota de veículos
    </h2>

    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>

  </div>

  <div class="col-md-12" style="margin-bottom: 10px">

    <table mat-table class="table" [dataSource]="dataSource" matSort matSortActive="numero" matSortDirection="asc">

      <ng-container matColumnDef="numero" class="md-2">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Número</mat-header-cell>
        <mat-cell *matCellDef="let veiculo">{{veiculo.numero}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="condutor">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Condutor</mat-header-cell>
        <mat-cell *matCellDef="let veiculo">{{veiculo.condutor}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="modelo">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Modelo</mat-header-cell>
        <mat-cell *matCellDef="let veiculo">{{veiculo.modelo}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
        <mat-cell *matCellDef="let veiculo">{{veiculo.status}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="outros">
        <mat-header-cell *matHeaderCellDef>Opções</mat-header-cell>
        <mat-cell *matCellDef="let veiculo">
          <ul class="list-inline">
            <li class="list-inline-item">
              <button type="button" class="btn btn-link" (click)="openModal(template)">
                <img src="svg/magnifying-glass.svg" width="20" height="20" alt="" data-toggle="tooltip" data-placement="top" title="Visualizar veiculo {{veiculo.numero}}">
              </button>
            </li>

            <!-- MODAL -->
            <ng-template #template>
              <div class="modal-header">
                <h4 class="modal-title pull-left">Número do Veículo: {{veiculo.numero}}</h4>

                <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <span style="margin-top: 5px; margin-bottom: 5px; font-size: 0.852em; background-color: whitesmoke; border-radius: 8px">
                  <strong>Data registro: {{veiculo.registro}}</strong>
                </span>
                <br>
                <span style="margin-top: 5px; margin-bottom: 5px; font-size: 0.852em; background-color: whitesmoke; border-radius: 8px">
                  {{veiculo.status}}
                </span>
                <br>
                <strong>Condutor: </strong> {{veiculo.condutor}}
                <br>
                <strong>Modelo: </strong> {{veiculo.modelo}}
                <br>
                <strong>Ano: </strong> {{veiculo.ano}}
                <br>
                <strong>Recado: </strong> {{veiculo.recado}}
              </div>
            </ng-template>
            <!-- FIM MODAL -->
            <li class="list-inline-item">
              <a routerLink="/edit/veiculo/{{veiculo.id}}">
                <img src="svg/pencil.svg" width="20" height="20" alt="" data-toggle="tooltip" data-placement="top" title="Editar veiculo {{veiculo.numero}}">
              </a>
            </li>

            <li class="list-inline-item">
              <button type="button" class="btn btn-link" (click)="openModal(deletarVeiculo)">
                <img src="svg/trash.svg" width="20" height="20" alt="" data-toggle="tooltip" data-placement="top" title="Remover veiculo {{veiculo.numero}}">
              </button>

            </li>
            <!-- MODAL -->
            <ng-template #deletarVeiculo>
              <div class="modal-header">
                <h4 class="modal-title pull-left">Deseja deletar o Veículo: {{veiculo.numero}}</h4>

                <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <span style="margin-top: 5px; margin-bottom: 5px; font-size: 0.852em; background-color: whitesmoke; border-radius: 8px">
                  <strong>Data registro: {{veiculo.registro}}</strong>
                </span>
                <br>
                <br>
                <br>
                <br>
                <button type="button" class="btn btn-secondary" (click)="modalRef.hide()">Cancelar</button>
                <a (click)="delete(veiculo)">

                </a>
                <button type="button" class="btn btn-success float-right">Confirmar</button>
              </div>

            </ng-template>
            <!-- FIM MODAL -->

          </ul>

        </mat-cell>

      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns" color="primary"></mat-header-row>

      <mat-row *matRowDef="let row; columns:displayedColumns"></mat-row>

    </table>

    <mat-paginator #paginator [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true" [length]="totalSize"
      [pageIndex]="currentPage" (page)="pageEvent = handlePage($event)">
    </mat-paginator>
  </div>

</div>